/*.smaller-gg-portrait {
    width: 300px;
    border-style: solid;
    border-width: 10px;
    padding-left: 0px;
    border-radius: 30%;
    margin: 50px;
}

.nav-border {
    border-right: 4px solid black;
    border-left: 4px solid black;
    padding: 0px 15px 0px 15px;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    background-color: blue;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

*/

.paper {
    margin: auto;
    width: 90%;
    height: 90%;
    max-width: 900px;
    background-color: white;
}

.center-cropped {
  width: 100%;
  height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: block;
  z-index: -1;
 
}

.ryan-image {
    max-width: 98%;
    height: auto;
   /* width: auto;   think this is not needed b/c width and height are already defined above.*/ 
    border-style: solid;
    border-width: 2.5px;
    border-radius: 200px;
    position: static; /*position aboslute looked shitty for some reason.... try the others.*/
    display: block;
    margin-left: 30px; /* margin auto? what would auto do differently?*/
    margin-top: -30px; /* apparently negative margin is a thing? let's see if it does what I'm trying to... to have the profile image overlap the background image, resembling the major social meda platforms.*/
    margin-right: 20px;
    margin-bottom: 0px;
}

body {
    background-color: whitesmoke;
}

.blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: calc(10px + 10*%);
    z-index: -1;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5em;
    padding: 10px;
    margin: 10px;
    position: static;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

li, p {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.0em;
    line-height: 1.2em;
    color: #333;
    margin: 25px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .65em;
    padding: 10px;
}

nav ul li, footer ul li {
    display: inline;
    margin: 3px;
    
}

 #thumbnail {
    box-shadow: 0 8px 15px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
